<div class="container">
  <ng-container *ngIf="(productsInput$ | async )as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading .....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">
        {{ result.errorMessage }}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Selected</th>
        <th>Available</th>
        </thead>
        <!--Pour afficher le produit item-->
        <!--<app-poducts-item
          [product]="p"
          (productEventEmitter)="onActionEvent($event)"
          *ngFor="let p of result.data" style="display: contents">
        </app-poducts-item>-->
        <!--utilisation de subject-->
        <app-poducts-item
          [product]="p"
          *ngFor="let p of result.data" style="display: contents">
        </app-poducts-item>
      </table>
    </ng-container>
  </ng-container>
</div>
