<ul class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button (click)="onGetAllProducts()" class="btn btn-sm btn-outline-info me-2 " type="button">All</button>
    <button (click)="onGetSelectedProducts()" class="btn btn-sm btn-outline-info me-2" type="button">Selected</button>
    <button (click)="onGetAvailableProducts()" class="btn btn-sm btn-outline-info me-2" type="button">Available</button>
    <button (click)="onNewProducts()" class="btn btn-sm btn-outline-info me-5" type="button">New product</button>
    <form class="d-flex" #f="ngForm"  (ngSubmit)="OnSearch(f.value)">
      <input ngModel name="keyword" class="form-control me-2" type="text" placeholder="Search">
      <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </form>
</ul>
